<!DOCTYPE html>
<html>
  <head>
    <title>Calculator</title>
    <link rel="stylesheet"  href="calc_style.css">
    <script type="text/javascript" src="calc_script.js"></script>
  </head>
  <body>
    <h1>Calculations</h1>
    <form name="form">
      <input type="text" name="a">
      <br><input type="text" name="b"></br>
      <br><input type="text" name="c"></br>
      <br><input type="text" name="view" readonly></br>
      <div class="submit" onclick="output()" id="hide" readonly>Submit</div>
  </body>
</html>
