<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sorting emulation</title>
        <link rel="stylesheet" href="style.css">
        <script type="text/javascript" src="script.js"></script>
    </head>
    <body>
        <section class="cards">
        <div class="block block1" id="block1">
            <span>1</span>
        </div>
        <div class="block block2" id="block2">
            <span>2</span>
        </div>
        <div class="block block3" id="block3">
            <span>3</span>
        </div>
        <div class="input">
            <input type="range" min="1" max="10" step="1" id="range" oninput="style1()" value="5">
        </div>
        </section>
    </body>
</html>