<!DOCTYPE html>
<html>
    <head>
        <title>Cards</title>
        <link rel="stylesheet" href="cards_style.css">
    </head>
<body>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h2>Service One</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium cumque molestiae, in quidem, placeat velit officia eligendi vero voluptatibus</p>
                    <a href="#">Read more</a>
                </div>
            </div>
            <div class="face face2"><h2>01</h2></div>
        </div>
        <div class="card">
                <div class="face face1">
                    <div class="content">
                        <h2>Service Two</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium cumque molestiae, in quidem, placeat velit officia eligendi vero voluptatibus</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
                <div class="face face2"> <h2>02</h2></div>
            </div>
            <div class="card">
                    <div class="face face1">
                        <div class="content">
                            <h2>Service Three</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium cumque molestiae, in quidem, placeat velit officia eligendi vero voluptatibus</p>
                            <a href="#">Read more</a>
                        </div>
                    </div>
                    <div class="face face2"><h2>03</h2></div>
                </div>
    </div>
</body>
</html>