<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="social_style.css">
        <script src="https://kit.fontawesome.com/5b1f43252b.js" crossorigin="anonymous"></script>
        <title>Social Buttons</title>
    </head>
    <body>
        <ul>
            <li>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
            </li>
        </ul>
    </body>
</html>